/*
$text: #2c1810;
$accent: #cca05e;
$BG: #f8f3ed;
$nav: #f8f3ed;
*/
.body {
  background-color: #f8f3ed;
  font-family: "Montserrat";
}

* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #f8f3ed;
  width: 100vw;
  height: 8vh;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 3px;
  display: grid;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
}
nav ul li {
  list-style: none;
}

.NavBtn {
  color: #cca05e;
  vertical-align: middle;
  text-decoration: none;
}

.NavDiv {
  padding: 0.7em 1.4em;
  font-weight: bold;
  display: flex;
  border-radius: 10em;
  align-items: center;
  transition-duration: 0.2s;
  opacity: 0.6;
}
.NavDiv:hover {
  opacity: 1;
  transition-duration: 0.2s;
}

.BtnIcon {
  aspect-ratio: 1;
  padding-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
}
.BtnIcon path {
  fill: #cca05e;
}

.topBG {
  width: 85vw;
  height: 14em;
  border-radius: 1em;
  background-color: #f0e5d3;
  margin: 9.5em auto 0 auto;
}

/*
.TopCard::before{
    content: '';
    background-color: #f0e5d3;
    margin: 10em auto;
    width: 85vw;
    height: 14em;
    border-radius: 1em;
    position: relative;

}
*/
.hidden {
  display: none;
}

.cover {
  aspect-ratio: 0.625;
  height: 17em;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 17px;
  transition-duration: 0.7s;
  background-color: #f8f3ed;
  position: absolute;
}

.Book {
  /* first item at start, last at end */
  height: 14em;
}

.btn {
  margin-left: 0.5em;
  padding: 0.4em;
  text-decoration: none;
  color: #cca05e;
  background-color: #f0e5d3;
  border-radius: 0.3em;
}

.BookCard {
  transition-duration: 0.7s;
  position: relative;
  aspect-ratio: 0.625;
  height: 17em;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 17px;
  transition-duration: 0.7s;
  background-color: #f8f3ed;
  transition-duration: 0.7s;
  width: 10.625em;
  display: flex;
  justify-content: space-between;
}
.BookCard:hover {
  background-color: #f8f3ed;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 17px;
  transition-duration: 0.5s;
  width: 21.8em;
  border-radius: 0.8em;
}
.BookCard:hover .cov2 p {
  width: 9.3em;
}

.BIG {
  font-size: 8em;
  text-align: center;
}

.small {
  text-align: center;
  font-size: 2em;
  margin-top: 0.2em;
}

.cov2 {
  width: 50%;
  transition: 0.5s;
}
.cov2 p {
  color: #cca05e;
  height: 13em;
  margin-top: 0.7em;
  margin-left: 0.3em;
  margin-right: 0.5em;
  width: 3em;
  overflow-y: hidden;
  transition: 0.5s;
  margin-bottom: 1em;
}

.dead {
  display: none;
  visibility: hidden;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.dead:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.percent {
  visibility: hidden;
  display: none;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.percent:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

/*
.topWrap{
    position: absolute;

    top: -7em;
    margin: 0em 3.7em;
    display: grid;
    column-gap: 7em;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, min(100%/3, max(15))));
}
.book-name{
    font-size: 1.4em;
    rotate: 270deg;

}
.sideName{
display: flex;
}
*/
.bottom {
  width: 100%;
  margin-top: 5.5em;
  display: flex;
  justify-content: space-evenly;
  transform: translateY(-80%);
}

.RightCard {
  height: 20em;
  border-radius: 1em;
  width: 39%;
  background-color: #f0e5d3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}
.RightCard:hover {
  width: 42%;
  height: 19.5em;
  transition-duration: 0.4s;
}

.LeftCard {
  height: 20em;
  border-radius: 1em;
  width: 39%;
  background-color: #f0e5d3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}
.LeftCard:hover {
  width: 42%;
  height: 19.5em;
  transition-duration: 0.4s;
}

.pText {
  margin-top: 1em;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  text-align: center;
}

.topWrap {
  margin-bottom: 5.5em;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  transform: translateY(-150%);
}

.sideName {
  display: flex;
}

.book-name {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding-top: 0.2em;
  padding-left: 0;
  height: 8.2em;
  width: 1.25em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.Book {
  position: relative;
}

.gauge {
  position: relative;
  border-radius: 50%/100% 100% 0 0;
  background-color: var(--color, #a22);
  overflow: hidden;
  width: 350px;
  --color: #cca05e;
  --background:#f8f3ed;
  transition-duration: 0.4s;
}
.gauge:hover {
  width: 380px;
  transition-duration: 0.4s;
}

.gauge:before {
  content: "";
  display: block;
  padding-top: 50%; /* ratio of 2:1*/
}

.gauge .chart {
  overflow: hidden;
}

.gauge .mask {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  top: 40%;
  background-color: #f0e5d3;
  border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: 0;
  right: -1px;
  background-color: var(--background, #aaa);
  transform: rotate(var(--rotation));
  transform-origin: bottom center;
  transition-duration: 600;
}

.gauge .value {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 0.6em;
}

.gauge .min {
  position: absolute;
  bottom: 0;
  left: 5%;
}

.gauge .max {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .LeftCard {
    height: 18em;
    border-radius: 1em;
    width: 92.5%;
    background-color: #f0e5d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .LeftCard:hover {
    width: 92.5%;
    height: 18em;
  }
  .RightCard {
    height: 18em;
    border-radius: 1em;
    width: 92.5%;
    background-color: #f0e5d3;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4em auto;
  }
  .RightCard:hover {
    width: 92.5%;
    height: 18em;
  }
  .bottom {
    width: 100%;
    margin-top: 0.4em;
    transform: translateY(-7%);
    display: block;
  }
  .body {
    overflow-x: hidden;
  }
  .book-nameM {
    color: #cca05e;
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
    transform: none;
    font-size: 1em;
    margin-top: 0.3em;
    text-shadow: 1px 1px 2px rgba(240, 229, 211, 0.4);
    overflow: show;
  }
  .desk {
    display: none;
  }
  .mobile {
    display: block;
  }
  .HamMenu {
    margin-left: 94%;
    margin-top: 0.1em;
  }
  nav {
    height: 6vh;
  }
  .cover {
    aspect-ratio: 0.625;
    height: 14em;
    position: static;
  }
  .topWrap {
    z-index: -50;
    padding: 1.7em;
    width: 100%;
    height: 80vh;
    margin: 1.5em auto;
    transform: none;
    display: grid;
    grid-template-columns: 11.5em 11.5em;
    grid-row: auto auto;
    grid-column-gap: 0.1em;
    grid-row-gap: 0.1em;
  }
  .topWrap .BookM {
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
  }
  .topWrap .BookM .btnM {
    margin-left: 2.7em;
    margin-top: 1em;
    padding: 0.4em;
    text-decoration: none;
    color: #cca05e;
    background-color: #f0e5d3;
    border-radius: 0.3em;
    display: none;
  }
}
* {
  margin: 0;
  padding: 0;
}

.containerr {
  max-width: 1050px;
  width: 100%;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
  width: 100%;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
}

.navbar .nav-container a:hover {
  font-weight: bolder;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 6px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
}

.checkbox {
  position: block;
  z-index: 213;
  top: 0%;
  margin-top: 0.7em;
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  margin-top: 1.2em;
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
  height: 510vh;
  width: 110%;
  padding-right: 2em;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: #f8f3ed;
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
}

.nav-container input[type=checkbox]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type=checkbox]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type=checkbox]:checked ~ .logo {
  display: none;
}

.HamMenu {
  margin-left: 85%;
  margin-top: 0.05em;
}

.joinB {
  background-color: #f0e5d3;
  padding: 0.4em 0.8em;
  border-radius: 0.4em;
}

@media screen and (max-width: 800px) {
  .hideme { /* hides the logo after certain scroll*/
    display: none;
  }
  .nav {
    display: none;
  }
  .toggleMenu {
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 15px 20px 15px 15px;
    cursor: pointer;
    background: #f8f3ed;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 3px;
    width: 100vw;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 999;
  }
  .sidemenu {
    z-index: 9999;
    position: fixed;
    top: 0px;
    width: 240px;
    margin-left: -250px;
    overflow: hidden;
    height: 100vh;
    background: #f8f3ed; /* for opacity of side bar without affecting anything */
    opacity: 0.9; /* to see background image*/
    transition: all 0.3s ease-in-out;
  }
  a {
    text-decoration: none;
    color: #cca05e;
  }
  .cross {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    opacity: 0.7;
    transition: all 0.3s ease-in-out;
  }
  .cross:hover {
    opacity: 1;
  }
  .mobilelogoinsidebar h1 {
    margin: 0;
    font-weight: 700;
    text-shadow: 3px 2px 0px #fff;
    line-height: 0.87;
  }
  .mobilelogoinsidebar a {
    color: white;
  }
  .mobilelogoinsidebar {
    margin-top: 70px;
  }
  .mobilelogo {
    font-size: 2em;
    margin: 0;
    font-weight: 700;
    text-shadow: 3px 2px 0px #fff;
    line-height: 0.87;
    margin-top: 20px;
    transition: all 10s ease-in-out;
  }
  .mobilelogo a {
    color: white;
  }
  .navmobile {
    width: 100vw;
  }
  .signup {
    font-size: 1.6rem;
    width: 200px;
    padding: 3px 0px;
    border: solid 1px white;
    color: white;
    text-align: center;
    margin: 30px auto 20px auto;
    transition: all 0.3s ease-in-out;
  }
  .signup:hover {
    background-color: white;
    color: #111;
    transition: all 0.3s ease-in-out;
  }
  .signup a:hover {
    color: black;
  }
  .navmobile .navlistmobile {
    font-size: 1.4rem;
    margin: 20px;
    display: block;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
  .navlistmobile li {
    padding: 12px 0px;
    margin-left: 10px;
    margin-right: 10px;
    color: #D8D8D8;
    border-bottom: solid 1px #D8D8D8;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }
  .showmenu {
    margin-left: 0px;
  }
  .changeopacity {
    opacity: 0;
  }
}/*# sourceMappingURL=dashboard.css.map */