$text: #2c1810;
$accent: #cca05e;
$BG: #f8f3ed;
$nav: #f8f3ed;

body{
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    align-items: center;
    background-color: $BG;
    
}

.card{
    top: 50vh;
    position: absolute;
    transform: translateY(-60%);
    height: 25em;
    width: 25em;
    position: relative;
    background-color: #f0e5d3;
    transition-duration: 0.5s;
    &:hover{
        height: 27em;
        width: 27em;
        border-radius: 5em;
        transition-duration: 0.5s;
    }

}


.titl{
    padding-top: 0.7em;
    padding-bottom: 0.5em;
}

.input{
    margin: 0.4em auto;
    background-color: #f8f3ed;
    transition-duration: 0.5s;
    &:hover{
        border-radius: 0.7em;
        transition-duration: 0.5s;
        border-color: #cca05e;
        border-width: 0.07em;
    }
    
}

.sub{
    margin-top: 1em;
    position: absolute;
    right: 0;
    width: 6em;
    height: 2.5em;
    transition-duration: 0.5s;
    &:hover{
        width: 6.6em;
        height: 2.5em;
        border-radius: 0.7em;
        transition-duration: 0.5s;
        border-color: #cca05e;
        border-width: 0.07em;
    }
}

.submitWrap{
    position: relative;
}

.uplo{
    
}