/*
$text: #2c1810;
$accent: #cca05e;
$BG: #f8f3ed;
$nav: #f8f3ed;
*/
body {
  background-color: #f8f3ed;
  font-family: "Montserrat";
  width: 100%;
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
}

nav {
  background-color: #f8f3ed;
  width: 100vw;
  height: 8vh;
  box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 3px;
  display: grid;
  justify-content: center;
  align-items: center;
}
nav ul {
  display: flex;
  justify-content: space-evenly;
  width: 60vw;
}
nav ul li {
  list-style: none;
}

.NavBtn {
  color: #cca05e;
  vertical-align: middle;
  text-decoration: none;
}

.NavDiv {
  padding: 0.7em 1.4em;
  font-weight: bold;
  display: flex;
  border-radius: 10em;
  align-items: center;
  transition-duration: 0.2s;
  opacity: 0.6;
}
.NavDiv:hover {
  opacity: 1;
  transition-duration: 0.2s;
}

.BtnIcon {
  aspect-ratio: 1;
  padding-right: 0.5em;
  width: 1.2em;
  height: 1.2em;
}
.BtnIcon path {
  fill: #cca05e;
}

.container {
  padding-top: 1.5em;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
}

h2 {
  font-size: 26px;
  margin: 20px 0;
  text-align: center;
}
h2 small {
  font-size: 0.5em;
}

.responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  transition-duration: 0.3s;
}
.responsive-table li:hover {
  padding: 32px 35px;
  transition-duration: 0.3s;
  font-size: 16px;
}
.responsive-table .table-header {
  background-color: #cca05e;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.responsive-table .table-row {
  background-color: #f8f3ed;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.15);
}
.responsive-table .col-1 {
  flex-basis: 8%;
}
.responsive-table .col-2 {
  flex-basis: 94%;
}
.responsive-table .col-3 {
  flex-basis: 14%;
}
.responsive-table .col-4 {
  flex-basis: 6%;
}
@media all and (max-width: 767px) {
  .responsive-table .table-header {
    display: none;
  }
  .responsive-table li {
    display: block;
  }
  .responsive-table .col {
    flex-basis: 100%;
  }
  .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .responsive-table .col:before {
    color: #6C7A89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}

.topBG {
  width: 100%;
  margin-bottom: 3.5em;
  border-radius: 1em;
  background-color: #f0e5d3;
  padding: 1em 2em;
  overflow-y: hidden;
}

.headTitle {
  font-size: 2.8em;
  font-weight: bold;
  margin-bottom: 1em;
  margin-left: 0.7em;
}

.wrap {
  width: 85vw;
  margin: 3.5em auto 0 auto;
}

/*
.TopCard::before{
    content: '';
    background-color: #f0e5d3;
    margin: 10em auto;
    width: 85vw;
    height: 14em;
    border-radius: 1em;
    position: relative;

}
*/
.hidden {
  display: none;
}

.comple {
  margin: 2em 0em 1em;
  font-size: 1.1em;
}

.deadlin {
  font-size: 1.25em;
  margin-left: 5em;
  margin-top: 42px;
}

.desc {
  margin: 1.5em 0;
  width: 37em;
  font-size: 1.2em;
}

.HeadWrap {
  display: flex;
  width: 70vw;
  margin: 5em auto 5em auto;
}

.BookTitle {
  font-size: 3em;
  font-weight: bolder;
}

.btn {
  text-decoration: none;
  color: black;
  background-color: #f0e5d3;
  border-radius: 0.4em;
  margin-right: 1.4em;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 8px 17px;
  margin: 0.6em 0;
  transition: 0.3s;
  margin-right: 1em;
}
.btn:hover {
  background-color: #34b038;
  color: white;
  padding: 10px 20px;
}

.cover {
  aspect-ratio: 0.625;
  height: 25em;
  box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 17px;
  transition-duration: 0.7s;
  background-color: #f8f3ed;
  margin-right: 4em;
  transition-duration: 0.7s;
}
.cover:hover {
  transition-duration: 0.7s;
  height: 27em;
}

.BookCard {
  transition-duration: 0.7s;
  position: relative;
  transition-duration: 0.7s;
}
.BookCard:hover {
  background-color: #f8f3ed;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 17px;
  transition-duration: 0.7s;
  border-radius: 0.8em;
}

.dead {
  display: none;
  visibility: hidden;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}
.dead:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.percent {
  visibility: hidden;
  display: none;
  opacity: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}
.percent:hover {
  opacity: 1;
  transition-duration: 0.5s;
}

.tab {
  margin-top: 0.7em;
  overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: #f8f3ed;
  border-radius: 0.6em;
  margin-right: 1.4em;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 13px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #cca05e;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #cca05e;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
}

/*
.topWrap{
    position: absolute;

    top: -7em;
    margin: 0em 3.7em;
    display: grid;
    column-gap: 7em;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(0, min(100%/3, max(15))));
}
.book-name{
    font-size: 1.4em;
    rotate: 270deg;

}
.sideName{
display: flex;
}
*/
.Book {
  /* first item at start, last at end */
  height: 14em;
}

.bottom {
  width: 100%;
  margin-top: 5.5em;
  display: flex;
  justify-content: space-evenly;
  transform: translateY(-80%);
}

.RightCard {
  border-radius: 1em;
  width: 39%;
  height: 20em;
  background-color: #f0e5d3;
  transition-duration: 0.4s;
}
.RightCard:hover {
  width: 42%;
  height: 19.5em;
  transition-duration: 0.4s;
}

.LeftCard {
  height: 20em;
  border-radius: 1em;
  width: 39%;
  background-color: #f0e5d3;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-duration: 0.4s;
}
.LeftCard:hover {
  width: 42%;
  height: 19.5em;
  transition-duration: 0.4s;
}

.topWrap {
  margin-bottom: 5.5em;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  transform: translateY(-150%);
}

.sideName {
  display: flex;
}

.book-name {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  transform: rotate(180deg);
  padding-top: 0.2em;
  padding-left: 0;
  height: 8.2em;
  width: 1.25em;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.35);
  overflow: hidden;
}

.Book {
  position: relative;
}

.gauge {
  position: relative;
  border-radius: 50%/100% 100% 0 0;
  background-color: var(--color, #a22);
  overflow: hidden;
  width: 350px;
  --color: #cca05e;
  --background:#f8f3ed;
  transition-duration: 0.4s;
}
.gauge:hover {
  width: 380px;
  transition-duration: 0.4s;
}

.gauge:before {
  content: "";
  display: block;
  padding-top: 50%; /* ratio of 2:1*/
}

.gauge .chart {
  overflow: hidden;
}

.gauge .mask {
  position: absolute;
  left: 20%;
  right: 20%;
  bottom: 0;
  top: 40%;
  background-color: #f0e5d3;
  border-radius: 50%/100% 100% 0 0;
}

.gauge .percentage {
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: 0;
  right: -1px;
  background-color: var(--background, #aaa);
  transform: rotate(var(--rotation));
  transform-origin: bottom center;
  transition-duration: 600;
}

.gauge .value {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  padding-bottom: 0.6em;
}

.gauge .min {
  position: absolute;
  bottom: 0;
  left: 5%;
}

.gauge .max {
  position: absolute;
  bottom: 0;
  right: 5%;
}

.desk {
  display: block;
}

.mobile {
  display: none;
}

@media screen and (max-width: 800px) {
  .desc {
    width: 100%;
    font-size: 1.2em;
    text-align: center;
  }
  .RWrap {
    background-color: yellow;
  }
  .BookTitle {
    margin-top: 0.5em;
    font-size: 2.3em;
    font-weight: bolder;
    text-align: center;
  }
  .cover {
    aspect-ratio: 0.625;
    height: 33em;
    box-shadow: rgba(0, 0, 0, 0.55) 0px 5px 17px;
    transition-duration: 0.7s;
    background-color: #f8f3ed;
    margin: 0 auto;
  }
  .cover:hover {
    height: 32em;
  }
  .btnwrap {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1em;
  }
  body {
    background-color: #f8f3ed;
    font-family: "Montserrat";
    width: 100%;
    height: 100%;
  }
  .desk {
    display: none;
  }
  .mobile {
    display: block;
  }
  .HamMenu {
    margin-left: 94%;
    margin-top: 0.1em;
  }
  nav {
    height: 6vh;
  }
  .HeadWrap {
    display: block;
    width: 83vw;
    margin: 5em auto 5em auto;
  }
  .CovWRap {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}/*# sourceMappingURL=abook.css.map */