
$text: #2c1810;
$accent: #cca05e;
$BG: #f8f3ed;
$nav: #f8f3ed;

.NavBtn{
   
    color: $accent;
    vertical-align: middle;
    text-decoration: none;
    
}
.NavDiv{
//    background-color: $accent;
   padding: 0.7em 1.4em;
//    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 5px;p
    font-weight: bold;
    display: flex;
    border-radius: 10em;
    align-items: center;
    transition-duration: 0.2s;
    opacity: 0.6;
    &:hover{
        opacity: 1;
        transition-duration: 0.2s;
    }
}
.BtnIcon{
    aspect-ratio: 1;
    padding-right: 0.5em;
    width: 1.2em;
    height: 1.2em;
    path{
        fill: $accent;
    }
}
*{
    padding: 0;
    font-family: 'Montserrat';
    margin: 0;
}
body{
    font-family: 'Montserrat';
    background-color: $nav;
    overflow-x: hidden;
}
nav{
    background-color: $nav;
    width: 100vw;
    height: 8vh;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 3px;
    display: grid;
    justify-content: center;
    align-items: center;
    ul{
        display: flex;
        justify-content: space-evenly;
        width: 60vw;
        li{
            list-style: none;
        }
    }

}

.mobile{
    display: none;
}

@media screen and (max-width:800px){
    .desk{
        display: none;
    }
    .mobile{
        display: block;
    }
}

.line {
    position: absolute;
    left: -16.7vw;
    top: -19vw;
    rotate: 25deg;
    
    z-index: -21;
    -webkit-animation-name: line;
    animation-name: line;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
    height: 68vw;
  }
  
  .line1 {
    position: absolute;
    left: -12.7vw;
    top: -13em;
    rotate: 25deg;
    height: 67em;
    z-index: -25;
    -webkit-animation-name: line;
    animation-name: line;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    aspect-ratio: 1;
    height: 62vw;
  }
  
  .line2 {
    
    position: absolute;
    right: -18.7em;
    bottom: -39em;
    rotate: -200deg;
    height: 67em;
    z-index: -21;
    -webkit-animation-name: line3;
    animation-name: line3;
    -webkit-animation-duration: 1.4s;
    animation-duration: 1.4s;
  }
  
  .line3 {
    position: absolute;
    right: -19.7em;
    bottom: -39em;
    rotate: -200deg;
    height: 67em;
    z-index: -21;
    -webkit-animation-name: line3;
    animation-name: line3;
    -webkit-animation-duration: 1.1s;
    animation-duration: 1.1s;
  }
  
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
    }
  }
  
  @keyframes appear {
    0% {
      opacity: 0;
    }
  }

  
@-webkit-keyframes line {
    0% {
      left: -80%;
      rotate: -100deg;
    }
  }
  
  @keyframes line {
    0% {
      left: -80%;
      rotate: -100deg;
    }
  }
  
  @-webkit-keyframes blob {
    0% {
      top: -80%;
      rotate: -100deg;
    }
  }
  
  @keyframes blob {
    0% {
      top: -80%;
      rotate: -100deg;
    }
  }
  
  @-webkit-keyframes line3 {
    0% {
      right: -80%;
      rotate: -100deg;
    }
  }
  
  @keyframes line3 {
    0% {
      right: -80%;
      rotate: -100deg;
    }
  }
  
  @-webkit-keyframes line1 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }
  
  @keyframes line1 {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
  }

  .blob {
    width: 70vw;
    
    position: absolute;
    left: -19em;
    top: -48vh;
    z-index: -30;
    -webkit-animation-name: blob;
    animation-name: blob;
    -webkit-animation-duration: 1.8s;
    animation-duration: 1.8s;
  }
  
  
  svg#freepik_stories-kids-reading:not(.animated) .animable {opacity: 0;}svg#freepik_stories-kids-reading.animated #freepik--background-simple--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;}svg#freepik_stories-kids-reading.animated #freepik--Floor--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) lightSpeedLeft;animation-delay: 0s;}svg#freepik_stories-kids-reading.animated #freepik--Window--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideUp;animation-delay: 0s;}svg#freepik_stories-kids-reading.animated #freepik--Plant--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}svg#freepik_stories-kids-reading.animated #freepik--Shelves--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomOut;animation-delay: 0s;}svg#freepik_stories-kids-reading.animated #freepik--Books--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideRight;animation-delay: 0s;}svg#freepik_stories-kids-reading.animated #freepik--character-3--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;animation-delay: 0s;}svg#freepik_stories-kids-reading.animated #freepik--character-2--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) zoomIn;animation-delay: 0s;}svg#freepik_stories-kids-reading.animated #freepik--character-1--inject-11 {animation: 1s 1 forwards cubic-bezier(.36,-0.01,.5,1.38) slideLeft;animation-delay: 0s;}            @keyframes slideUp {                0% {                    opacity: 0;                    transform: translateY(30px);                }                100% {                    opacity: 1;                    transform: inherit;                }            }                    @keyframes lightSpeedLeft {              from {                transform: translate3d(-50%, 0, 0) skewX(20deg);                opacity: 0;              }              60% {                transform: skewX(-10deg);                opacity: 1;              }              80% {                transform: skewX(2deg);              }              to {                opacity: 1;                transform: translate3d(0, 0, 0);              }            }                    @keyframes zoomIn {                0% {                    opacity: 0;                    transform: scale(0.5);                }                100% {                    opacity: 1;                    transform: scale(1);                }            }                    @keyframes zoomOut {                0% {                    opacity: 0;                    transform: scale(1.5);                }                100% {                    opacity: 1;                    transform: scale(1);                }            }                    @keyframes slideRight {                0% {                    opacity: 0;                    transform: translateX(30px);                }                100% {                    opacity: 1;                    transform: translateX(0);                }            }                    @keyframes slideLeft {                0% {                    opacity: 0;                    transform: translateX(-30px);                }                100% {                    opacity: 1;                    transform: translateX(0);                }            }        

  .svg1{
    width: 50vw;
    position: absolute;
    right: 1em;
    bottom: 1em;
  }

.sec1{
  position: relative;
  width: 100%;
  height: 92vh;
}
.sec2{
  position: relative;
  width: 100%;
  height: 10vh;
}
.footer{
  position: relative;
  width: 100%;
  height: 70vh;
}
.foot-wrap{
  transform: translateY(-30%);
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  p{
    text-align: center;
    width: 45%;
  }
  a{
    text-decoration: none;
    color: #4d7cfe;
  }
  .wrap4{
    width: 45%;
  }
  h1{
    margin-top: 1em;
  }
}
.title-big{
  font-size: 11vw;
  font-family: masvis;
  font-weight: 100;
  color: #cca05e;
  margin-left: 0.5em;
}

.wrap{
  width:41em;
  margin-left: 9.3vw;
}
.logo1{
  animation-name: appear;
  animation-duration: 4s;
  width: 24vw;
  z-index: -10;
  margin-top: 9em;
  position: relative;
}
.wrap-text{
    font-weight: bold;
}
.svg2{
  width: 45vw;
  position: absolute;
  left: 1.8em;
  bottom: 4em;
}

.blob2{
  position: absolute;
  right: 1vw;
  width: 55vw;
  z-index: -60;  
  bottom: 5.5vh;
  rotate: 15deg;
  object-fit: fill;
  height: 43vw;
}

.p2{
  
  position:absolute;
  right: 10vw;
  top: 50%;
  transform: translateY(-50%);
}
p{
  font-size: 3vh;
  width: 30vw;
  text-align: center;
}

.p3{
  width: 30vw;
  position:absolute;
  left: 10vw;
  top: 50%;
  transform: translateY(-50%);
}

.bottom-curve{
  path{
    width: 100vw;
  }
  z-index: -100;
}

.curve{
  path{
    width: 100%;
  }
  height: auto;
  width: 100%;
  position: absolute;
  pointer-events: none;
}

.bottom1{
  position: absolute;
  bottom: 0;
  left: 0;
}
.wrap5{
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 70%;
}

.testimonial-card-container {
  border: 1px solid black;
  width: 74%;
  height: 43vh;
  margin: 0 auto;
  border-radius: 25px;
  position: relative;
  .testimonial-card {
    width: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    transition: all 500ms ease;
    .card-avatar {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      margin: 0 auto;
      background-image: url("https://images.unsplash.com/photo-1580925594670-117567b46f26?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1649&q=80");
      background-size: cover;
      background-position: center;
    }
    .avatar-1 {
      background-image: url("https://images.unsplash.com/photo-1542458579-0efc5038d080?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    }
    .avatar-2 {
      background-image: url("https://images.unsplash.com/photo-1584473457409-ae5c91d7d8b1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80");
    }
    .card-quote {
      text-align: center;
      font-family: sans-serif;
      font-size: 1.5em;
      padding: 10px 0;
      position: relative;
      .left-quote {
        position: absolute;
        transform: translate(-25%, -25%);
        top: 0;
        left: 0;
        font-size: 3em;
        color: #696969;
        z-index: -1;
      }
      .right-quote {
        position: absolute;
        transform: translate(50%, 50%);
        bottom: 0;
        right: 0;
        font-size: 3em;
        color: #696969;
        z-index: -1;
      }
    }
    .card-name {
      text-align: center;
      font-family: sans-serif;
      font-size: 1.25em;
      padding: 10px 0;
      position: relative;
      text-transform: uppercase;
    }
    .card-role {
      font-family: sans-serif;
      padding: 10px 0;
      text-align: center;
      font-style: italic;
    }
  }
  .card-1 {
    opacity: 0;
  }
  .card-2 {
    opacity: 0;
  }
}
.indicator-buttons-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 10px 0;
  .indicator-button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
    margin: 0 10px;
    cursor: pointer;
    transition: all 500ms ease;
  }
  .active {
    background: black;
  }
}

@media screen and (max-width:800px){
  .foot-wrap{
    transform: translateY(10%);
  } 
}

.socials{
  margin: 1em;
}


@media screen and (max-width:800px){
  .line{
    height: 68vh;
  }
  .blob{
    top: -18vh;
    left:-16em;
    z-index: -1200;
    width: 105vh;
  }
  .logo1{
    width: 82vw;
  }
  .line1{
    height: 62vh;
  }
  .desk{
    display: none;
  }
  .mobile{
    display: block;
  }
  }
  
  * {
  margin: 0;
  padding: 0;
  
  }
  
  
  .containerr {
  max-width: 1050px;
  width: 100%;
  
  
  }
  
  
  
  .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
  
  }
  
  .navbar .menu-items {
  display: flex;
  width: 100%;
  }
  
  .navbar .nav-container li {
  list-style: none;
  }
  
  .navbar .nav-container a {
  text-decoration: none;
  color: #0e2431;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
  }
  
  .navbar .nav-container a:hover{
    font-weight: bolder;
  }
  
  .nav-container {
  display: block;
  position: relative;
  height: 60px;
  }
  
  .nav-container .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 6px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
  overflow: hidden;
  
  }
  .checkbox{
  position: block;
  z-index: 213;
  top: 0%;
  margin-top: 0.7em;
  }
  
  .nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
  }
  
  .navbar .menu-items {
  margin-top: 1.2em;
  padding-top: 120px;
  box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
  height: 510vh;
  width: 110%;
  padding-right: 2em;
  transform: translate(-150%);
  display: flex;
  flex-direction: column;
  margin-left: -40px;
  padding-left: 50px;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  background-color: #f8f3ed;
  }
  
  .navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
  }
  
  .logo {
  position: absolute;
  top: 5px;
  right: 15px;
  font-size: 1.2rem;
  color: #0e2431;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
  }
  
  .HamMenu{
  margin-left: 85%;
  margin-top: 0.05em;
  }