<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <input type="text" id="search">
    <button id="searchBtn" onclick="handleSearch()">Search</button>

    <script>
        function handleSearch(){
        s = document.getElementById('search').value
        
        window.location.href = 'http://localhost:8000/search/' + s;
        }
    </script>
</body>
</html>