{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="{% static 'register.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet">

    <title>New Book</title>
</head>
<body>
    <div class="card" style="border-radius: 1em; transform: translateY(-70%)">
        <div class="card-content" style="background-color: #f0e5d3;">
          <div class="content">
            <h1 class="titl" style="font-family: 'Poppins', sans-serif; font-weight:700; padding-top:0em; padding-bottom: 0em;">New Book</h1>
    <form id="frm" method='POST' action='/class/send' enctype="multipart/form-data">
        {% csrf_token %}
        <div>
        <input class="input" type="text" name="name" placeholder="Book Name">
        <Label>Epub File</Label>
        <input class="input" type="file" name="ebook" id="ebook"> <br>
        <Label>Book Cover</Label>
        <input class="input"  type="file" name="cover" id="cover"> <br>
        </div>
        <Label>Deadline</Label>
        <input class="input" type="date" name="deadline">
        <Label>Book Description</Label>
        <textarea class="LargeInput input" name="desc" form="frm" style="">
        </textarea>
        <input class="button is-light sub" style="position: static;" type='submit'> <br>
    </form>
    </div>
    </div>
    </div>
</body>
</html>