{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'StudentView.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.min.js" integrity="sha512-tQYZBKe34uzoeOjY9jr3MX7R/mo7n25vnqbnrkskGr4D6YOoPYSpyafUAzQVjV6xAozAqUFIEFsCO4z8mnVBXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>{{prof.user.first_name}}</title>
</head>
<body class="body" style="overflow-x: hidden;">
    <nav class="desk">
        <ul>
            <li>
                <a href="/" class="NavBtn">
                    <div class="NavDiv">
                    <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"><path d="M280.37 148.26L96 300.11V464a16 16 0 0 0 16 16l112.06-.29a16 16 0 0 0 15.92-16V368a16 16 0 0 1 16-16h64a16 16 0 0 1 16 16v95.64a16 16 0 0 0 16 16.05L464 480a16 16 0 0 0 16-16V300L295.67 148.26a12.19 12.19 0 0 0-15.3 0zM571.6 251.47L488 182.56V44.05a12 12 0 0 0-12-12h-56a12 12 0 0 0-12 12v72.61L318.47 43a48 48 0 0 0-61 0L4.34 251.47a12 12 0 0 0-1.6 16.9l25.5 31A12 12 0 0 0 45.15 301l235.22-193.74a12.19 12.19 0 0 1 15.3 0L530.9 301a12 12 0 0 0 16.9-1.6l25.5-31a12 12 0 0 0-1.7-16.93z"/></svg>
                    Home
                </div>
            </a>
            </li>
            <li>
                
                <a href="/dashboard" class="NavBtn">
                    <div class="NavDiv">
                      <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M448 358.4V25.6c0-16-9.6-25.6-25.6-25.6H96C41.6 0 0 41.6 0 96v320c0 54.4 41.6 96 96 96h326.4c12.8 0 25.6-9.6 25.6-25.6v-16q0-9.6-9.6-19.2c-3.2-16-3.2-60.8 0-73.6q9.6-4.8 9.6-19.2zM240 64a64 64 0 1 1-64 64 64 64 0 0 1 64-64zM128 281.6c0-31.81 30.09-57.6 67.2-57.6h5a103.25 103.25 0 0 0 79.7 0h4.95c37.11 0 67.2 25.79 67.2 57.6v19.2c0 10.61-10 19.2-22.4 19.2H150.4c-12.4 0-22.4-8.6-22.4-19.2zM380.8 448H96c-19.2 0-32-12.8-32-32s16-32 32-32h284.8z"/></svg>
                      Dashboard
                </div>
            </a>
            </li>
            <li>
                <a href="/class" class="NavBtn">
           <div class="NavDiv">
            <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512"><path d="M256 288c0 35.35 28.66 64 64 64 35.35 0 64-28.65 64-64s-28.65-64-64-64c-35.34 0-64 28.65-64 64zm224 0c0 35.35 28.66 64 64 64 35.35 0 64-28.65 64-64s-28.65-64-64-64c-35.34 0-64 28.65-64 64zM96 352c35.35 0 64-28.65 64-64s-28.65-64-64-64c-35.34 0-64 28.65-64 64s28.66 64 64 64zm480 32h-64c-35.34 0-64 28.65-64 64v32c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32v-32c0-35.35-28.66-64-64-64zm-224 0h-64c-35.34 0-64 28.65-64 64v32c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32v-32c0-35.35-28.66-64-64-64zm-224 0H64c-35.34 0-64 28.65-64 64v32c0 17.67 14.33 32 32 32h128c17.67 0 32-14.33 32-32v-32c0-35.35-28.66-64-64-64zM96 64h448v128c24.68 0 46.98 9.62 64 24.97V49.59C608 22.25 586.47 0 560 0H80C53.53 0 32 22.25 32 49.59v167.38C49.02 201.62 71.33 192 96 192V64z"/></svg>
            Class
        </div>
    </a>             
        </li>
                    <li>
                <a href="/leaderboards" class="NavBtn">
           <div class="NavDiv">
            <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M505 442.7L405.3 343c-4.5-4.5-10.6-7-17-7H372c27.6-35.3 44-79.7 44-128C416 93.1 322.9 0 208 0S0 93.1 0 208s93.1 208 208 208c48.3 0 92.7-16.4 128-44v16.3c0 6.4 2.5 12.5 7 17l99.7 99.7c9.4 9.4 24.6 9.4 33.9 0l28.3-28.3c9.4-9.4 9.4-24.6.1-34zM208 336c-70.7 0-128-57.2-128-128 0-70.7 57.2-128 128-128 70.7 0 128 57.2 128 128 0 70.7-57.2 128-128 128z"/></svg>
            Leaderboards
        </div>
    </a>             
        </li>
        <li>
        <a class="NavBtn"  href="/logout">
            <div class="NavDiv">
            <!--<svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48v-41.6c0-74.2-60.2-134.4-134.4-134.4z"/></svg>-->
            <svg class="BtnIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"/></svg>
            Logout
            </div>
        </a>
        </li>
        </ul>        
    </nav>
    <nav class="mobile">
      <div class="navmobile">
        <div class="toggleMenu"><svg width="30" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#cda260" d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z"/></svg></div>
        <div class="sidemenu">
            <!-- <img class="cross" src="https://lh3.googleusercontent.com/iY0bTr9W_jdRLrqwXshfmqbflUi1Rlo2knWWLvQ5g-V-xdvByUrRtV7DVGYQ9VuK5A_h-AbHFxum1zubtabYAzgLOwGrIMaLPuJarkYHWm6a7h5HMIkhwlYhSBLq8JoW2MsDDRvyYzZMbesUr2EvqNW6yQTzygJbapw8hvxZo4e7t2u6v6_ptGmbmlCP6s0mV3jIHhca4TvQEp_UyGV6hhVzSmb0KhqguSpzdcPv3Z7G3-4tK88y6wtCUp1FKBfZkeBlHiSrBchIC8dDGNx4EvSC3_nd17x-vQRu9LlZWvM9KUbBdGMwSQKHXH7Uw9wtuqRVzQ2To024bFayR2uGAQ0MoM1YsFUStFB0NV_mJ_AtLSljfoAph0hu7uozenJASjI8oj2w1xtYrB3L0rcIBzOjC4R0bOw_jB5KOhYz7bB-LZax-KUvnrvaQS9LqG3UCEXzLdO81_mFWV_1pAuPv4DxFap8f5_WQy0-iyhq_76GRGswm2_pA1QwNlGtDgFZd2nqz36LBcbuuV8V3FELFOVZe_4KXULgcoFqL0zdhfEW4jhF28oGJ6ErnThvTMb6VR6_GknX5_2smz3cd9Yc6kkHv0pklcvFbKGIJpw9wrYYB8r5DOVxmGR0u7u5x-ZQoRjpwlhMHSNKAW4u4FeHnZYgJF6-_guWZwIWO1s7=s256-no" width="20"> -->
            <svg class="cross" width="20" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><!--! Font Awesome Pro 6.2.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path fill="#cca05e" d="M256 512c141.4 0 256-114.6 256-256S397.4 0 256 0S0 114.6 0 256S114.6 512 256 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z"/></svg>
            <div class="mobilelogoinsidebar">
                <h1><a href="#"></a></h1>
            </div>
            <ul class="navlistmobile">
                <li><a href="/">Home</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/class">Class</a></li>
                <li><a href="/leaderboards">Leaderboard</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
            
        </div>
      </div>
      </nav>
      
    <div class="wrap">

        <h1 class="headTitle">{{prof.user.first_name}} {{prof.user.last_name}}</h1>

        <div>
            <a href="/class" style="text-decoration: none;color:black;">
            <p class="clas">Class: {{prof.clas}}</p>
            <p class="clas">Class Avg: {{prof.clas.avg}}</p>
        </a>
        </div>
    </div>

<div class="bottomWrap">
  <div class="bottom">
    <div class="LeftCard">
    <div class="LeftCardWrap">
      <h1 class="BIG">{{words}}</h1>
      <p class="small">words read!!</p>
    </div> 
    </div>
    <div class="RightCard">
      <div class="LeftCardWrap">
        <h1 class="BIG">{{time}}</h1>
        <p class="small">minutes spent reading!!</p>
      </div> 
    </div>
</div>

<div class="bottom" style="">
  <div class="LeftCard">
  <div class="LeftCardWrap">
  <div class="gauge" style="--rotation:{{deg}}deg;">
      <div class="percentage"></div>
      <div class="mask"></div>
      <span class="value">{{percent}}%</span>
      
  </div>
  <p class="pText">{{read}} words read today!</p>
  {% if deg == 180 %}
  <p class="pText" style="margin-top: 0.2em;">Today's reading target completed!</p>
  {% endif %}
  </div> 
  </div>
  <div class="RightCard">
    <div class="RightCardWrap">
      <canvas id="myChart"></canvas>
    </div>
  </div>
</div>
<div class="bottom" style="">
  <div class="LeftCard">
  <div class="RightCardWrap">
    <canvas id="myChartTime"></canvas>
  </div> 
  </div>
  <div class="RightCard">
    <div class="RightCardWrap">
      <canvas id="myChartRead"></canvas>
    </div>
  </div>
</div>
</div>
<!--
        <div class="WrapGraph">
        <div class="Graph">
            <div class="LeftCard">
                <div class="LeftCardWrap" style=" padding: 1em; width: 40vw;">
                <canvas id="myChart" style="width:100%;max-width:700px;"></canvas>
            </div>
        </div>
        <div class="RightCard">
            <div class="RightCardWrap" style=" padding: 1em;width: 40vw;">
            <canvas id="my2Chart" style="width:100%;max-width:700px;"></canvas>
        </div>
    </div>
    </div>
</div>
-->
    <div class="topBG">
        <div class="tab">
            <button id="glob" class="tablinks" onclick="openCity(event, 'books')">Books Read</button>
            <!--
            <button class="tablinks" onclick="openCity(event, 'leaderboard')">Leaderboard</button>
            <button class="tablinks" onclick="openCity(event, 'studs')">Students</button>
            -->
          </div>
        <div id="books"  class="tabcontent">
        <div class="container">
            <ul class="responsive-table">
              <li class="table-header">
                <div class="col col-1">No.</div>
                <div class="col col-2">Book Title</div>
                <div class="col col-3">Date</div>
              </li>
              {% for x in books %}
              <a href="/class/book/{{x.id}}" style="text-decoration: none;color:black;">
              <li class="table-row">
                <div class="col col-1" data-label="No.">{{forloop.counter}}</div>
                <div class="col col-2" data-label="Book Title">{{x.book.name}}</div>
                <div class="col col-3" data-label="Date">{{x.finished}}</div>
              </li>
            </a>
              {% endfor %}
            </ul>
          </div>
          
        </div>
        <div id="leaderboard"  class="tabcontent">
            <div class="container">
                <ul class="responsive-table">
                  <li class="table-header">
                    <div class="col col-1">No.</div>
                    <div class="col col-2">Student Name</div>
                    <div class="col col-3">Score</div>
                  </li>
                  {% for x in lead %}
                  <li class="table-row">
                    <div class="col col-1" data-label="No.">{{forloop.counter}}</div>
                    <div class="col col-2" data-label="Student Name">{{x.user.first_name}} {{x.user.last_name}}</div>
                    <div class="col col-3" data-label="Score">{{x.score}}</div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
        </div>
        <div id="studs"  class="tabcontent">
            <div class="container">
                <ul class="responsive-table">
                  <li class="table-header">
                    <div class="col col-1">No.</div>
                    <div class="col col-2">Student Name</div>
                    <div class="col col-3"></div>
                  </li>
                  {% for x in profs %}
                  <li class="table-row">
                    <div class="col col-1" data-label="No.">{{forloop.counter}}</div>
                    <div class="col col-2" data-label="First Name">{{x.user.first_name}} {{x.user.last_name}}</div>
                    <div class="col col-3" data-label=""></div>
                  </li>
                  {% endfor %}
                </ul>
              </div>
        </div>
    </div>
    <script>
      /*
        var xValues = [12,13,14,15,16,17,18];
        var yValues = [0,0,0,11,14,14,15];
      */
        var yValues = {{scores}}
        var xValues = {{dates|safe}}
        new Chart("myChart", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
            label: 'Reading Score',
            backgroundColor: "#f0e5d3",
            borderColor: "#cca05e",
            data: yValues
            }]
        },
  options:{
    responsive: true,
    maintainAspectRatio: false,
  }
});


      /*
        var xValues = [12,13,14,15,16,17,18];
        var yValues = [0,0,0,11,14,14,15];
      */
        var yValues = {{reads}}
        var xValues = {{dates|safe}}
        new Chart("myChartRead", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
            label: 'Words Read',
            backgroundColor: "#f0e5d3",
            borderColor: "#cca05e",
            data: yValues
            }]
        },
  options:{
    responsive: true,
    maintainAspectRatio: false,
  }
});

        var yValues = {{times}}
        var xValues = {{dates|safe}}
        new Chart("myChartTime", {
        type: "line",
        data: {
            labels: xValues,
            datasets: [{
            label: 'Time Spent Reading',
            backgroundColor: "#f0e5d3",
            borderColor: "#cca05e",
            data: yValues
            }]
        },
  options:{
    responsive: true,
    maintainAspectRatio: false,
  }
});

    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    <script>
      $(document).ready(function(){
  
  console.log($('.navlist li'));
  
  /************************ to highlight on which section you are ****************/
  
  $(".navlist li").click(function(){
    $(this).addClass("iamselected");
    $(".navlist li").not(this).removeClass("iamselected");  
  });
  
  /********************* highlight active link when scrolled **************************/
  
  $(window).scroll(function(){
    console.log( $(this).scrollTop());
    $('.page').each(function(){
      var sectionoffset = $(this.hash).offset().top;   // saves dist of that hash trom top
      if(sectionoffset <= $(this).scrollTop()){
        $(this).addClass('iamselected');
      }			
  
    });
  });
  
  
  /**************** to change from trans to black when scrolled *************/
  
  console.log( $(document).scrollTop() );
  
  $(document).scroll(function(){
    if( $(document).scrollTop() > 95 )
    {
      $('.navwrapper').addClass("notonhomepage");
      $('.logo').addClass("hideme");
    }
    else{
      $('.navwrapper').removeClass("notonhomepage");
      $('.logo').removeClass("hideme");
    }
  
  });
  /******************** hide n show nav *************************/
  
  $('.toggleMenu').click(function(){
    $('.sidemenu').addClass("showmenu");
    $('.toggleMenu').addClass("changeopacity");
  });
  
  $('.cross').click(function(){
    $('.sidemenu').removeClass("showmenu");
    $('.toggleMenu').removeClass("changeopacity");
  });
  
  /************************* menu scales when scrolled ****************************/
  $(document).scroll(function(){
    if( $(document).scrollTop() > 250 )
    {
      $('.mobilelogo').addClass("hideme");
      $('.toggleMenu').css('padding','9px 12px 9px 9px');
    }
    else{
      $('.mobilelogo').removeClass("hideme");
      $('.toggleMenu').css('padding','15px 20px 15px 15px');
    }
  
  });
  });
    </script>
     <script>
        window.onload = document.getElementById('glob').click();
        function openCity(evt, cityName) {
            // Declare all variables
            var i, tabcontent, tablinks;
          
            // Get all elements with class="tabcontent" and hide them
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
              tabcontent[i].style.display = "none";
            }
          
            // Get all elements with class="tablinks" and remove the class "active"
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
              tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
          
            // Show the current tab, and add an "active" class to the button that opened the tab
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
          }
          
          </script>
</body>
</html>